<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800"> Editando <?=$user[0]['user_name'];?> </h1>

<form class="user" action="<?=$GLOBALS['project_index'];?>/controllers/users.php" method="POST">
	<input type="hidden" name="action" value="edit">
	<input type="hidden" name="id_user" value="<?=$user[0]['id_user'];?>">
	<div class="row">
		<div class="form-group col-md-6">
			<label> Nome Completo </label>
		    <input type="text" class="form-control form-control-user" name="user_name" placeholder="Nome" value="<?=$user[0]['user_name'];?>">
		</div>
		
		<div class="form-group col-md-6">
			<label> CPF </label>
		    <input type="text" class="form-control form-control-user" name="user_cpf" placeholder="CPF" value="<?=$user[0]['user_cpf'];?>">
		</div>

		<div class="form-group col-md-6">
			<label> Email </label>
		    <input type="email" class="form-control form-control-user" name="user_email" placeholder="Email" value="<?=$user[0]['user_email'];?>">
		</div>

		<div class="form-group col-md-6">
			<label> Senha </label>
		    <input type="password" class="form-control form-control-user" name="user_password" placeholder="Preecha se for alterar">
		</div>

		<div class="form-group col-md-6">
			<button class="btn btn-warning"><i class="fa fa-arrow-right"></i> Enviar </button>
		</div>
	</div>
</form>